@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body{
    background-color: #F6F6F6;
    
}
h1{
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
    font-size: 27px;
    font-family: 'Roboto Slab', serif;
}
p,a,input{
    font-size: 16px;
    line-height: 19px;
}
.navbar{
    background: linear-gradient(90deg, #ec1187 0%, #ff8d10 93.55%);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px 4px;
    align-items: center;
}
.ham-icon,.global-icon{
    color: #fff;
    text-shadow: 0px 0px 4px rgb(68, 0, 255);
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    
}
.container{
    height: 72vh;
}
.hero{
    display: flex;
    flex-direction: column;
    height: 276px;
    width: 474px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    color: black;
    align-items: center;
    margin-top: 8px;
    border-radius: 5px;
    padding-bottom: 24px;
    background-color: #fff;
}
.info{
    padding-bottom: 9px;
}

.info ul{
    padding-inline-start: 23px;
    color: #595959;
    
   
}
#ask-heading{
    color: black;
    padding-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.text-area {
    display: flex;
    align-items: center;
}
.text-area input,.btn button{
    width: 450px;
    padding: 8px;
    background: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 5px;
    height: 44px;
}

.btn button{
    margin: 10px 0 ;
    background: linear-gradient(90deg, #ec1187 0%, #ff8d10 93.55%);
    font-size: 1.4em;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.hav-account a{
    color: #000;
    padding: 20px 0 0 0;
    margin: 50px 0 20px 0;
    text-decoration: none;
    border-bottom: 2px solid black;
    
}


/* Footer section */

footer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ec1187 0%, #ff8d10 93.55%);
    color: #fff;
}

.social-logo{
    color:#3b5998; ;
}
span{
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 50%;
    
}
span i{
    margin:9px 15px 0px 14px;
    font-size: 30px;
}
.blue{
    color: #1da1f2;
    margin-left: 8px;
}

.insta{
    margin-top: 7px;
    margin-left: 8px;
    font-size: 32px;
}

.disclaimer{
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Hover Effect */

button:hover{
    color: #ffffff;
    background: linear-gradient(90deg,#ff8d10 0%, #ec1187 93.55% );
}